.flex{
    display: flex;
}

.container{
    padding: 0 10vw;
}
.item-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}
.upperCase{
    text-transform: uppercase;
}
.bolder{
    font-weight: bolder;
}
.mx-2{
    margin: 0 12px ;
}
.flex-wrap{
    flex-wrap: wrap;
}
.my-2{
    margin: 12px 0;
}
